@model PrototipConfidenceBuilder.Models.ViewModelIndex


    @Html.Partial("~/Views/_TopHeader.cshtml", Model.UP)
    <!-- End of Topbar -->
    @*table*@
    <div class="card shadow mb-4">

        @if (Model.Status7Z.Count() < 1 && Model.DataStop.Date <= DateTime.Now.Date)
        {
            <div class="row justify-content-center">
                <a data-url=@Url.Action("GenRutine","Home") class="center-block btn btn-md btn-primary btn-icon-split mainContent ">
                    <span class="icon text-white-50">
                        Generare rutina pe ultiemele 60 de zile
                        <i class="fa fa-gear"></i>
                    </span>
                </a>
            </div>
        }


        <div class="card-header py-3">

            <div class="text-center">

                <span class="center-block text-info" style="font-size:large">  @Model.DataStart.Date.ToShortDateString() - @Model.DataStop.Date.ToShortDateString()</span>

                <a data-url=@Url.Action("Inapoi","Home") class="btn btn-sm btn-info btn-icon-split pull-left mainContent ">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                    @*<span class="text">Înapoi</span>*@
                </a>
                @*<button type="button" data-url=@Url.Action("GetEditRutina","Home", new { IdParcursRutina =1 }) class="btn btn-info btn-lg btnModal" >Open Modal</button>*@
                <a data-url=@Url.Action("Inainte","Home") class="btn btn-sm btn-info btn-icon-split pull-right float-right mainContent">

                    @* <span class="text">Înainte</span>*@
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                </a>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">

                    <tr class="text-center">
                        <td></td>
                        @foreach (var item in Model.ListaIdSiDataRutina)
                        {
                            <td>
                                <a data-url=@Url.Action("GetEditRutina","Home", new { IdParcursRutina =item.Item1 })
                                   class="btnModal">@item.Item2</a>
                            </td>
                        }
                    </tr>

                    @foreach (var tr in Model.Status7Z)
                    {
                        <tr class="text-center">
                            <td>@tr.Denumire</td>
                            @foreach (var td in tr.ListaZile)
                            {
                                <td>
                                    @*<div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" @(td.IdStare == 1 ? "checked" : "") />
                                        </div>*@
                                    <div class="checkbox">
                                        <label style="font-size: 1em">
                                            @if (td.IdStare == 1)
                                            {
                                                <input type="checkbox" value="">
                                                <span class="cr" data-url=@Url.Action("SchimbaStareActiune","Home",new {IdRutinaActiune =td.IdRutinaActiune  })><i class="cr-icon fa fa-check"></i></span>

                                            }
                                            else if (td.IdStare == 2)
                                            {
                                                <input type="checkbox" value="" checked>
                                                <span class="cr" data-url=@Url.Action("SchimbaStareActiune","Home",new {IdRutinaActiune =td.IdRutinaActiune  })><i class="cr-icon fa fa-check"></i></span>

                                            }

                                        </label>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

<script>
      $("#sidebarToggle, #sidebarToggleTop").on('click', function(e) {
    $("body").toggleClass("sidebar-toggled");
    $(".sidebar").toggleClass("toggled");
    if ($(".sidebar").hasClass("toggled")) {
      $('.sidebar .collapse').collapse('hide');
    };
  });

</script>